{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
        <div class="cat">
            <div class="catalog"><a href="{% url 'index' %}" class="button">Посмотреть всё меню</a></div>
        </div>

        <div class="cat">
            <div class="catalog"><a href="{% url 'order' %}" class="button">Сделать заказ</a></div>
        </div>


        <div class="hi">
        <img src="{% static "mainpage/img/hey.png" %}" alt="" class="hey">
        <h1 class="title">Добро пожаловать!</h1>
        <img src="{% static "mainpage/img/hey.png" %}" alt="" class="hey">
    </div>
        <h4 class="text">Кондитерский цех «Бонжур» - одно из крупных кондитерских предприятий г. Бишкек, основанное в
            2003 г.<br><br>
            Сегодня Бонжур – это актуальный и активно растущий бренд, стабильно развивающиеся предприятие.<br><br>
            Основным видом деятельности является оптовая продажа кондитерскими изделиями, а также торты на заказ
            (свадебные, юбилейные, детские) и широкий ассортимент кондитерских изделий на праздничные банкеты, фуршеты и
            кенди-бар.<br><br>
            При производстве кондитерских изделий используются качественные, натуральные и разрешенные халал продукты.
        </h4>

    </div>
{% endblock %}